<p style="color: green"><%= notice %></p>

<div>
  <%= link_to "Edit this product", edit_product_path(@product) %> |
  <%= link_to "Back to products", products_path %>

  <%= button_to "Destroy this product", @product, method: :delete %>
</div>


<%= render @product %>


<% if @product.featured_image.attached? %>

	<!-- <model-viewer> HTML element -->
	<!-- <model-viewer bounds="tight" src="<%#= url_for(@product.featured_image ) %>" ar ar-modes="scene-viewer webxr quick-look" camera-controls environment-image="neutral" poster="poster.webp" shadow-intensity="2.2" exposure="1.51" shadow-softness="1">
	  <div class="progress-bar hide" slot="progress-bar">
	      <div class="update-bar"></div>
	  </div>
	  <button slot="ar-button" id="ar-button">
	      View in your space
	  </button>
	  <div id="ar-prompt">
	     
	      <img src='https://s3.us-east-2.amazonaws.com/tester-parts-room/ar_hand_prompt.png'>
	      
	  </div>
	</model-viewer> -->


	<model-viewer id="shoe" camera-controls touch-action="pan-y" src="<%= url_for(@product.featured_image ) %>" tone-mapping="commerce" ar alt="A 3D model of a Shoe">
	  
	</model-viewer>
	<script>
	const modelViewerVariants = document.querySelector("model-viewer#shoe");
	const select = document.querySelector('#variant');

	modelViewerVariants.addEventListener('load', () => {
	  const names = modelViewerVariants.availableVariants;
	  for (const name of names) {
	    const option = document.createElement('option');
	    option.value = name;
	    option.textContent = name;
	    select.appendChild(option);
	  }
	  // Adds a default option.
	  const option = document.createElement('option');
	    option.value = 'default';
	    option.textContent = 'Default';
	    select.appendChild(option);
	});

	select.addEventListener('input', (event) => {
	  modelViewerVariants.variantName = event.target.value === 'default' ? null : event.target.value;
	});
	</script>
	
   <%#= image_tag @product.featured_image, style: "width: 350px; display: block;", class: "img-responsive" %>
  
<% else %>
  <div class="no-image">No image available...</div>
<% end %>

