<!DOCTYPE html>
<html>
  <head>
    <title>Vision3D</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>



    <!--/////////////// MODEL VIEWER ///////////////////////-->
        <!-- <script type="module" src="https://unpkg.com/@google/model-viewer/dist/model-viewer.min.js"></script> -->
        <script type="module" src="https://ajax.googleapis.com/ajax/libs/model-viewer/3.3.0/model-viewer.min.js"></script>
    <!--/////////////// MODEL VIEWER ///////////////////////-->
  </head>

  <body>
    <%= yield %>
  </body>
</html>
